.line {
    border: solid ;
}

.line2 {
    border: solid black;
}

.line3 {
    border: solid orange;
}


.line4 {
    border: solid green;
}

.line5 {
    border: solid purple;
}


#example {
    scroll-behavior: smooth;
  }